#sizesAndDescription {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
}

#sizesAndDescription .sizes-title {
  float: left;
  color: #000;
  cursor: pointer;
  padding: 0px 0px 5px;
  font-size: 12px;
}

#sizesAndDescription .sizes-guide {
  float: right;
  color: gray;
  cursor: pointer;
  padding: 0px 0px 5px;
  font-size: 12px;
}

#sizesAndDescription .sizes-table {
  float:right;
  width: 100%;
}

#sizesAndDescription .sizes-buttons {
  height: calc(100% - 6px);
  width: calc(20% - 6px);
  margin: 2px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  align-content: center;
}

#sizesAndDescription .sizes-buttons:hover {
  border: 1px solid black;
}

#sizesAndDescription .sizes-buttons:active {
  background-color: black;
}

#sizesAndDescription .sizes-num {
  font-size: 12px;
  margin: 14px auto;
}

#sizesAndDescription .cart-button {
  height: 36px;
  width: calc(100% - 60px);
  display: inline-block;
  float: left;
  text-align: center;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  font-size: 12px;
  margin: 25px 5px 0px 0px;
  padding: 6px 0px;
  border: none;
  transition: background-color 450ms;
}

#sizesAndDescription .cart-button:hover {
  background-color: #525252;
}

#sizesAndDescription .heart-button {
  height: 36px;
  width: 50px;
  display: inline-block;
  float: left;
  text-align: center;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  margin: 25px 0px 0px 0px;
  padding: 10px 0px;
  border: none;
  transition: background-color 450ms;
}

#sizesAndDescription .heart-button:hover {
  background-color: #525252;
}

#sizesAndDescription .heart-button i {
  font-size: 12px;
  transition: font-size 150ms;
}

#sizesAndDescription .heart-button:hover i {
  font-size: 16px;
}

#sizesAndDescription .available {
  background: rgba(221, 221, 221, 0.5)
}

#sizesAndDescription .available .sizes-num {
  color: rgb(221, 221, 221)
}

#sizesAndDescription .row {
  width: 100%;
  height: 48px;
}

#sizesAndDescription .description-paragraph {
  margin: 0;
  padding-top: 25px;
  float: left;
  width: 100%;
}

#sizesAndDescription .description-paragraph p {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  display: block;
  line-height: 22px;
}

#sizesAndDescription .description-details {
  float:right;
  width:100%;
  padding: auto;
  margin: auto;
  font-size: 12px;
}

#sizesAndDescription .details {
  padding: 10px 0px;
  padding-left: 0;
}

#sizesAndDescription li {
  list-style-type: disc;
  padding: 0;
  line-height: 22px;
  list-style-position: inside;
}
  
#sizesAndDescription .description-readmore {
  padding-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}

#sizesAndDescription .current {
  background-color: black;
  color: white;
}

